body{
    background-color:#2F2FA2;
    color:#fff;
}

.solution{
    background-color: #fff;
    width:65%;
    height: 60px;
    color:#000;
    font-size: 1.5rem;
}

.frmtitle{
    color: #F64C72;
    font-weight: bold;
    font-size:2.5rem;
}

.bder{
    border: 6px solid #99738E;
}

.errmsg{
    visibility: hidden;
}

.errmsg2{
    visibility:visible;
    color: red;
    font-weight: bold;
    font-size: 1.2rem;
}

.errmsgx{
    visibility: hidden;
}

.errmsg2x{
    visibility:visible;
    color: red;
    font-weight: bold;
    font-size: 1.2rem;
}

input {width: 100% !important; } /*prevents input from shrinking when css class is added */