body{
    padding:0;
    margin: 0;
    background-color: #5cdb95;
    color: #05386B;
}

.container{
    display: flex;
	justify-content: center;
}

.inner-container{
    margin-top: 50px;
    max-width: 800px;
    border: 4px solid#379683 ;
}

.header-title{
    text-align: center;
    font-size: 1.9rem;
    font-weight: bolder;
}

.div-align-block{
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 25px;
}

#itemValue{
    width:100%;
    height: 20px;
    border-radius: 8px;
    padding: 10px;
    font-size: 1.5rem; 
    text-align: center;
}

select{
    width:104%;
    height: 40px;
    border-radius: 8px;
    font-size: 18px;  
}

#txtDiv{
    display: flex;
    justify-content: center;   
}

#txtArea{
    width: 50%;
    height: 50px;
    background-color: white;
    color: #05386B;
    text-align: center; 
    font-size: 1.8rem;
}

.btnDiv{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

#calcBtn{
    margin-right: 15px;
    width: 30%;
    height: 35px;
    background-color:#05386B;
    color: white;
}

#cancelBtn{
    width: 30%;
    height: 35px;
    background-color:#E50914;
    color: white;
}

label{
    font-size: 1.5rem;
    font-weight: bold;
}

#closing-text{
    text-align: center;
    font-size: 1.2rem;
}

