body{
    background-color:#2F2FA2;
    color:#fff;
}

.solution{
    background-color: #fff;
    width:65%;
    height: 60px;
    color:#000;
}

.frmtitle{
    color: #F64C72;
    font-weight: bold;
    font-size:2.5rem;
}

.bder{
    border: 6px solid #99738E;
}

.success{
    border: 2px solid green;
}

.error{
    border: 2px solid red;
}